<div class="col-md-12 tab-content-holder">
  <!-- BEGIN RESOURCE CHART -->
  <div id="resource-chart">
    <div class="col-md-12 tab-content-holder">
      {{#each r in rest}}
      <div class="panel-title table-header row">
        <div class="table-cell col-md-3"><br>
          <span class="table-cell">Resource Type</span>
        </div>
        <div class="table-cell col-md-9">
          <span class="table-label-holder">
            <span class="table-cell">Read</span>
            <span class="table-cell">VRead</span>
            <span class="table-cell">Update</span>
            <span class="table-cell">Delete</span>
            <span class="table-cell">History-Instance</span>
            <span class="table-cell">Validate</span>
            <span class="table-cell">History-Type</span>
            <span class="table-cell">Create</span>
            <span class="table-cell">Search-Type</span>
          </span>
        </span>
      </div>
    </div>
    {{#each res in r.resource}}
    <div class="panel">
      <div class="panel-heading" role="tab" id="headingTest1">
        <h4 class="panel-title">
          <a class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" data-target="#resource{{unbound res.fhirType}}">{{res.fhirType}}</a>
          <span class="test-circle-holder">
            <span {{bind-attr class=":glyphicon res.operation.read:test-circle-filled:test-circle-empty res.operation.read:circle-filled:circle-empty :conformance-test-badge res.results.read.status"}} aria-hidden="true">{{#if res.results.read.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.read}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.vread:test-circle-filled:test-circle-empty res.operation.vread:circle-filled:circle-empty :conformance-test-badge res.results.vread.status"}} aria-hidden="true">{{#if res.results.vread.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.vread}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.update:test-circle-filled:test-circle-empty res.operation.update:circle-filled:circle-empty :conformance-test-badge res.results.update.status"}} aria-hidden="true">{{#if res.results.update.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.update}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.delete:test-circle-filled:test-circle-empty res.operation.delete:circle-filled:circle-empty :conformance-test-badge res.results.delete.status"}} aria-hidden="true">{{#if res.results.delete.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.delete}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.history-instance:test-circle-filled:test-circle-empty res.operation.history-instance:circle-filled:circle-empty :conformance-test-badge res.results.history-instance.status"}} aria-hidden="true">{{#if res.results.history-instance.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.history-instance}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.validate:test-circle-filled:test-circle-empty res.operation.validate:circle-filled:circle-empty :conformance-test-badge res.results.validate.status"}} aria-hidden="true">{{#if res.results.validate.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.validate}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.history-type:test-circle-filled:test-circle-empty res.operation.history-type:circle-filled:circle-empty :conformance-test-badge res.results.history-type.status"}} aria-hidden="true">{{#if res.results.history-type.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.history-type}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.create:test-circle-filled:test-circle-empty res.operation.create:circle-filled:circlåe-empty :conformance-test-badge res.results.create.status"}} aria-hidden="true">{{#if res.results.create.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.create}}{{/bootstrap-popover}}{{/if}}</span>
            <span {{bind-attr class=":glyphicon res.operation.search-type:test-circle-filled:test-circle-empty res.operation.search-type:circle-filled:circle-empty :conformance-test-badge res.results.search-type.status"}} aria-hidden="true">{{#if res.results.search-type.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' res.results.search-type}}{{/bootstrap-popover}}{{/if}}</span>
          </span>
        </h4>
      </div>
      <div id="resource{{unbound res.fhirType}}" class="panel-collapse collapse">
        <div class="panel-body">
          Conforms to <a {{bind-attr href="{{res.profile.reference}}"}}>{{res.profile.reference}}</a>

          <table class="table">
            <thead>
              <th>
                Search Param
              </th>
              <th>
                Type
              </th>
              <th>
                Description
              </th>
            </thead>
            <tbody>
              {{#each param in res.searchParam}}
              <tr>
                <td>
                  {{param.name}}
                </td>
                <td>
                  {{param.fhirType}}
                </td>
                <td>
                  {{param.documentation}}
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {{/each}}
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel-title table-header row">
        <div class="col-md-3">
          <span class="table-cell">{{r.mode}}</span>
        </div>
        <div class="col-md-9">
          <div class="col-md-1"><i {{bind-attr class=":glyphicon r.operation.transaction:test-circle-filled:test-circle-empty r.operation.transaction:circle-filled:circle-empty :conformance-test-badge r.results.transaction.status"}}>{{#if r.results.transaction.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.transaction}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">Transaction</div>
          <div class="col-md-1"><i {{bind-attr class=":glyphicon r.operation.history-system:test-circle-filled:test-circle-empty r.operation.history-system:circle-filled:circle-empty :conformance-test-badge r.results.history-system.status"}}>{{#if r.results.history-system.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.history-system}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">System-History</div>
          <div class="col-md-1"><i {{bind-attr class=":glyphicon r.operation.search-system:test-circle-filled:test-circle-empty r.operation.search-system:circle-filled:circle-empty :conformance-test-badge r.results.search-system.status"}}>{{#if r.results.search-system.status}}{{#bootstrap-popover title="'''''" tagName="span"}}{{render 'partials/_conformancePopover' r.results.search-system}}{{/bootstrap-popover}}{{/if}}</i></div><div class="col-md-3">System-Search</div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
<!-- END RESOURCE CHART -->
<!-- START METADATA CONTAINER -->
<div class="row metadata">
  <div class="metadata-selector col-md-3">
    <ul class="nav nav-pills nav-stacked metadata">
      <li class="active"><a data-toggle="tab" href="#conformance-metadata">Conformance Metadata</a></li>
      <li><a data-toggle="tab" href="#rest-metadata">REST Metadata</a></li>
      <li><a data-toggle="tab" href="#document-metadata">Document Metadata</a></li>
      <li><a data-toggle="tab" href="#messaging-metadata">Messaging Metadata</a></li>
    </ul>

  </div>
  <!-- START METADATA EXPAND CONTAINER -->
  <div class="metadata-expand-container col-md-9 tab-content">
    <!-- START CONFORMANCE METADATA  -->
    <div id="conformance-metadata" class="tab-pane active">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div><label>NAME:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{name}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>IDENTIFIER:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{identifier}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>VERSION:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{versionNum}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>PUBLISHER INFORMATION:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{publisher}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>DESCRIPTION:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{description}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>STATUS:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{status}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>EXPERIMENTAL:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{#if experimental}}Yes{{else}}No{{/if}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>DATE:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{date}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>SOFTWARE:</label></div>
          </div>
          <div class="col-md-8">
            <div>Unknown</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>IMPLEMENTATION:</label></div>
          </div>
          <div class="col-md-8">
            <div>Unknown</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>FHIR VERSION:</label></div>
          </div>
          <div class="col-md-8">
            <div>FHIR {{fhirVersion}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>ACCEPT UNKNOWN:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{#if acceptUnknown}}Yes{{else}}No{{/if}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>FORMATS SUPPORTED:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{#each f in format}}{{f}} {{/each}}</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>ADDITIONAL PROFILES SUPPORTED:</label></div>
          </div>
          <div class="col-md-8">
            <div>{{profile.length}}</div>
          </div>
        </div>




      </div>
    </div>
    <!-- END CONFORMANCE METADATA  -->
    <!-- START REST METADATA  -->
    <div id="rest-metadata" class="tab-pane">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div><label>REST:</label></div>
          </div>
          <div class="col-md-8">
            <div>FHIR Server 1 Conformance Statement #1</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>IDENTIFIER:</label></div>
          </div>
          <div class="col-md-8">
            <div>HHE489GN00-09</div>
          </div>
        </div>
      </div>
    </div>
    <!-- END REST METADATA  -->
    <!-- START DOCUMENT METADATA  -->
    <div id="document-metadata" class="tab-pane">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div><label>DOC:</label></div>
          </div>
          <div class="col-md-8">
            <div>FHIR Server 1 Conformance Statement #1</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>IDENTIFIER:</label></div>
          </div>
          <div class="col-md-8">
            <div>HHE489GN00-09</div>
          </div>
        </div>
      </div>
    </div>
    <!-- END DOCUMENT METADATA  -->
    <!-- START MESSAGING METADATA  -->
    <div id="messaging-metadata" class="tab-pane">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div><label>MSG:</label></div>
          </div>
          <div class="col-md-8">
            <div>FHIR Server 1 Conformance Statement #1</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div><label>IDENTIFIER:</label></div>
          </div>
          <div class="col-md-8">
            <div>HHE489GN00-09</div>
          </div>
        </div>
      </div>
    </div>
    <!-- END MESSAGING METADATA -->

  </div>
  <!-- END METADATA EXPAND CONTAINER -->
</div>
<!-- END METADATA CONTAINER -->
</div>
