<h1>Tests</h1>

<ul>
  {{#each}}
    <li>{{title}} by {{author}}. {{description}} <button class="btn btn-primary" {{action 'execute' title}}>Run test</button></li>
    <ul>
      {{#each tests}}
        <li>{{this}}</li>
      {{/each}}
    </ul>
    {{#if result}}<li>{{result}}</li>{{/if}}
  {{else}}
    <li>There are no tests.</li>
  {{/each}}
</ul>
