<h1>Tests</h1>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="inputUrl" class="col-sm-2 control-label">Server URL</label>
    <div class="col-sm-7">
      {{input name='test-url' class="form-control" value="http://fhir.healthintersections.com.au/open"}}
      <span class="help-block">http://fhir.healthintersections.com.au/open, http://fhirtest.uhn.ca/base, http://bonfire.mitre.org:8080/fhir</span>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-info" {{action 'getConformance'}}>Conformance</button>
      <button class="btn btn-danger" {{action 'executeAll'}}>Execute All Tests!</button>
    </div>
  </div>
</form>

{{#if conformance}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Conformance Report</h3>
  </div>
  <div class="panel-body">
    {{{conformance}}}
  </div>
</div>
{{/if}}

{{#if hasResults}}
<ul>
  {{#each controller}}
    {{#if hasResult}}
  <li>{{resultSummary.name}}:
    {{#each resultSummary.results}}
      <i class="fa {{../../iconStatus status}}" {{action 'goToTest' this}}></i>
    {{/each}}
  </li>
    {{/if}}
  {{/each}}
</ul>
{{/if}}

<ul>
  {{#each}}
    <li>
      <span><span class="label label-default">{{title}}{{#if resource_class}}: {{resource_class}}{{/if}}</span> <small>{{description}}</small> <button class="btn btn-sm btn-primary" {{action 'execute'}}>Run test</button>
    </li>
      {{#each results}}
          <div class="panel panel-{{../panelStatus this}}" id="{{../panelAnchor this}}">
            <div class="panel-heading">
              <h3 class="panel-title">{{test_method}}</h3>
            </div>
            <div class="panel-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="label label-info">ID</span> {{id}}
                </li>
                <li class="list-group-item">
                  <span class="label label-info">Description</span> {{description}}
                </li>
                <li class="list-group-item">
                  <span class="label label-info">Message</span> {{message}}
                </li>
                <li class="list-group-item">
                  <span class="label label-info">Status</span> {{status}}
                </li>
                <li class="list-group-item">
                  <span class="label label-info">Data</span> {{data}}
                </li>
              </ul>
            </div>
          </div>
      {{else}}
        {{#each tests}}
          {{#if ../resource_class}}
            {{!-- TODO: Render something better than redundant resource methods... --}}
          {{else}}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{../this}}</h3>
              </div>
            </div>
          {{/if}}
        {{/each}}
      {{/each}}
  {{else}}
    <li>There are no tests.</li>
  {{/each}}
</ul>
