<!DOCTYPE html>
<html>
<head>
  <title>Crucible</title>
  <meta name="current-user" content="<%= current_user.to_json(root: false)  %>"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- FIXME: Replace this with better mechanism for embedding Ember with authentication -->
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%#= render 'layouts/footer' %>
</body>
</html>
